{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Borealis API will help developers CRUD their way through various resources set in the Borealis database.<br><br><b>Response Codes: </b><br><br><b>200</b> - Successful<br><br><b>400</b> - General Exceptions<br><br><b>401</b> - Unauhorized<br><br><b>403</b> - Business Rule Violation<br><br><b>500</b> - Database Exceptions<br><br><b>Note:</b> For each API call, form header parameters user and password must be supplied.<br>",
    "version" : "0.9.7.2 beta",
    "title" : "Borealis API (all rights reserved)",
    "termsOfService" : "",
    "contact" : {
      "name" : "Michael Davis",
      "email" : "mbradleydavis@gmail.com"
    }
  },
  "host" : "tasksapi.restlet.net",
  "basePath" : "/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/tasks/" : {
      "get" : {
        "summary" : "Load the list of Tasks",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Allows to filter the collection of results by the value of field `id`",
          "x-example" : "47ee3550-b619-11e6-8408-0bdb025a7cfa"
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Allows to filter the collection of results by the value of field `name`",
          "x-example" : "Learn about hypermedia APIs"
        }, {
          "name" : "$page",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of the page to retrieve.",
          "x-example" : 1
        }, {
          "name" : "$size",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Size of the page to retrieve.",
          "x-example" : 10
        }, {
          "name" : "$sort",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
          "x-example" : "createdAt DESC"
        }, {
          "name" : "completed",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Allows to filter the collection of results by the value of field `completed`",
          "x-example" : true
        }, {
          "name" : "createdAt",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Allows to filter the collection of results by the value of field `createdAt`",
          "x-example" : "2016.07.03"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Task"
              }
            },
            "examples" : {
              "application/json" : "[{\n  \"id\": \"47ee3550-b619-11e6-8408-0bdb025a7cfa\",\n  \"name\": \"Feed the fish\",\n  \"completed\": false,\n  \"createdAt\": \"2016.07.03\"\n}]"
            },
            "headers" : {
              "X-Page-Size" : {
                "type" : "integer",
                "x-example" : 25
              },
              "X-Page-Count" : {
                "type" : "integer",
                "x-example" : 1
              },
              "X-Page-Number" : {
                "type" : "integer",
                "x-example" : 1
              },
              "X-Total-Count" : {
                "type" : "integer",
                "x-example" : 2
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "summary" : "Create a new Task",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Task"
          },
          "x-examples" : {
            "application/json" : "{\n  \"name\": \"Feed the fish\",\n  \"completed\": false,\n  \"createdAt\": \"2016.07.03\"\n}"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/Task"
            },
            "examples" : {
              "application/json" : "{\n  \"id\": \"47ee3550-b619-11e6-8408-0bdb025a7cfa\",\n  \"name\": \"Feed the fish\",\n  \"completed\": false,\n  \"createdAt\": \"2016.07.03\"\n}"
            }
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      }
    },
    "/tasks/{taskid}" : {
      "get" : {
        "summary" : "Load a specific Task",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/Task"
            },
            "examples" : {
              "application/json" : "{\n  \"id\": \"47ee3550-b619-11e6-8408-0bdb025a7cfa\",\n  \"name\": \"Feed the fish\",\n  \"completed\": false,\n  \"createdAt\": \"2016.07.03\"\n}"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "put" : {
        "summary" : "Update a Task",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Task"
          },
          "x-examples" : {
            "application/json" : "{\n  \"name\": \"Feed the fish\",\n  \"completed\": false,\n  \"createdAt\": \"2016.07.03\"\n}"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/Task"
            },
            "examples" : {
              "application/json" : "{\n  \"id\": \"47ee3550-b619-11e6-8408-0bdb025a7cfa\",\n  \"name\": \"Feed the fish\",\n  \"completed\": false,\n  \"createdAt\": \"2016.07.03\"\n}"
            }
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      },
      "delete" : {
        "summary" : "Delete a Task",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      },
      "parameters" : [ {
        "name" : "taskid",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "Identifier of the Task",
        "x-example" : "47ee3550-b619-11e6-8408-0bdb025a7cfa"
      } ]
    },
    "/UTL/Tag/" : {
      "get" : {
        "tags" : [ "Tags" ],
        "summary" : "Gets all tags",
        "operationId" : "getsAllTags",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Tag"
              }
            }
          }
        }
      }
    },
    "/UTL/Tag/{Tag}" : {
      "post" : {
        "tags" : [ "Tags" ],
        "summary" : "Adds a new tag",
        "operationId" : "addTag",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Tag"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Tag"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Tags" ],
        "summary" : "Updates a tag",
        "operationId" : "updateTag",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Tag"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Tag"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Tag",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/UTL/Tag/{TagKey}" : {
      "get" : {
        "tags" : [ "Tags" ],
        "summary" : "Gets tag by primary key",
        "operationId" : "getsTagByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Tag"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Tags" ],
        "summary" : "Deletes tag by primary key",
        "operationId" : "deleteTag",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "TagKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SC/Role/" : {
      "get" : {
        "tags" : [ "Roles" ],
        "summary" : "Gets all roles",
        "operationId" : "getsAllRoles",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Role"
              }
            }
          }
        }
      }
    },
    "/SC/Role/{Role}" : {
      "post" : {
        "tags" : [ "Roles" ],
        "summary" : "Adds a new role",
        "operationId" : "addRole",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Role"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Role"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Roles" ],
        "summary" : "Updates a role",
        "operationId" : "updateRole",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Role"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Role"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Role",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SC/Role/{RoleKey}" : {
      "get" : {
        "tags" : [ "Roles" ],
        "summary" : "Gets role by primary key",
        "operationId" : "getsRoleByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Role"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Roles" ],
        "summary" : "Deletes role by primary key",
        "operationId" : "deleteRole",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "RoleKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SC/Role/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Roles" ],
        "summary" : "Finds roles by id or name",
        "operationId" : "getsAllRoles",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Role"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Time/" : {
      "get" : {
        "tags" : [ "Times" ],
        "summary" : "Gets all times",
        "operationId" : "getsAllTimes",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Time"
              }
            }
          }
        }
      }
    },
    "/HR/Time/{EmployeeKey}" : {
      "get" : {
        "tags" : [ "Times" ],
        "summary" : "Get times by employeekey",
        "operationId" : "getsTimesByEmployeeKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "EmployeeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Time/{RejectionKey}" : {
      "get" : {
        "tags" : [ "Times" ],
        "summary" : "Get times by rejectionkey",
        "operationId" : "getsTimesByRejectionKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "RejectionKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Time/{Time}" : {
      "get" : {
        "tags" : [ "Times" ],
        "summary" : "Gets time by revision",
        "operationId" : "getsTimeByRev",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Times" ],
        "summary" : "Adds a new time",
        "operationId" : "addTime",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Times" ],
        "summary" : "Updates a time",
        "operationId" : "updateTime",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Time",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Time/{TimeKey}" : {
      "get" : {
        "tags" : [ "Times" ],
        "summary" : "Gets time by primary key",
        "operationId" : "getsTimeByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Times" ],
        "summary" : "Deletes time by primary key",
        "operationId" : "deleteTime",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "TimeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Time/{TSCalendarKey}" : {
      "get" : {
        "tags" : [ "Times" ],
        "summary" : "Get times by tscalendarkey",
        "operationId" : "getsTimesByTSCalendarKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Time"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "TSCalendarKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Time/Void/{TimeVoid}" : {
      "put" : {
        "tags" : [ "Times" ],
        "summary" : "Void a time",
        "operationId" : "voidTime",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JournalVoid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "TimeVoid",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SC/User/" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Gets all users",
        "operationId" : "getsAllUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/User"
              }
            }
          }
        }
      }
    },
    "/SC/User/{StatusClsKey}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get users by statusclskey",
        "operationId" : "getsUsersByStatusClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "StatusClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SC/User/{User}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Adds a new user",
        "operationId" : "addUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Users" ],
        "summary" : "Updates a user",
        "operationId" : "updateUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "User",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SC/User/{UserKey}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Gets user by primary key",
        "operationId" : "getsUserByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Users" ],
        "summary" : "Deletes user by primary key",
        "operationId" : "deleteUser",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "UserKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SC/User/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Finds users by id or name",
        "operationId" : "getsAllUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/User"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AP/Check/" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Gets all checks",
        "operationId" : "getsAllChecks",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Check"
              }
            }
          }
        }
      }
    },
    "/AP/Check/{BankAcctKey}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Get checks by bankacctkey",
        "operationId" : "getsChecksByBankAcctKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "BankAcctKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Check/{Check}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Gets check by revision",
        "operationId" : "getsCheckByRev",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Checks" ],
        "summary" : "Adds a new check",
        "operationId" : "addCheck",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Check"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Checks" ],
        "summary" : "Updates a check",
        "operationId" : "updateCheck",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Check"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Check",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AP/Check/{CheckClsKey}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Get checks by checkclskey",
        "operationId" : "getsChecksByCheckClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CheckClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Check/{CheckKey}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Gets check by primary key",
        "operationId" : "getsCheckByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Checks" ],
        "summary" : "Deletes check by primary key",
        "operationId" : "deleteCheck",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CheckKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Check/{ClientKey}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Get checks by clientkey",
        "operationId" : "getsChecksByClientKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ClientKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Check/{EmployeeKey}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Get checks by employeekey",
        "operationId" : "getsChecksByEmployeeKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "EmployeeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Check/{VendorKey}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Get checks by vendorkey",
        "operationId" : "getsChecksByVendorKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Check"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "VendorKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Check/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Checks" ],
        "summary" : "Finds checks by id or name",
        "operationId" : "getsAllChecks",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Check"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AP/Check/Void/{CheckVoid}" : {
      "put" : {
        "tags" : [ "Checks" ],
        "summary" : "Void a check",
        "operationId" : "voidCheck",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JournalVoid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CheckVoid",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SC/Group/" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Gets all groups",
        "operationId" : "getsAllGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Group"
              }
            }
          }
        }
      }
    },
    "/SC/Group/{Group}" : {
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Adds a new group",
        "operationId" : "addGroup",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Group"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Groups" ],
        "summary" : "Updates a group",
        "operationId" : "updateGroup",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Group"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Group",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SC/Group/{GroupKey}" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Gets group by primary key",
        "operationId" : "getsGroupByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Groups" ],
        "summary" : "Deletes group by primary key",
        "operationId" : "deleteGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "GroupKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SC/Group/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Finds groups by id or name",
        "operationId" : "getsAllGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Group"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/CM/State/" : {
      "get" : {
        "tags" : [ "States" ],
        "summary" : "Gets all states",
        "operationId" : "getsAllStates",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/State"
              }
            }
          }
        }
      }
    },
    "/CM/State/{State}" : {
      "post" : {
        "tags" : [ "States" ],
        "summary" : "Adds a new state",
        "operationId" : "addState",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/State"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/State"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "States" ],
        "summary" : "Updates a state",
        "operationId" : "updateState",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/State"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/State"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "State",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/CM/State/{StateKey}" : {
      "get" : {
        "tags" : [ "States" ],
        "summary" : "Gets state by primary key",
        "operationId" : "getsStateByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/State"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "States" ],
        "summary" : "Deletes state by primary key",
        "operationId" : "deleteState",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "StateKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/State/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "States" ],
        "summary" : "Finds states by id or name",
        "operationId" : "getsAllStates",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/State"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/GA/Budget/" : {
      "get" : {
        "tags" : [ "Budgets" ],
        "summary" : "Gets all budgets",
        "operationId" : "getsAllBudgets",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Budget"
              }
            }
          }
        }
      }
    },
    "/GA/Budget/{AcctKey}/{IsCash}/{PeriodKey}" : {
      "get" : {
        "tags" : [ "Budgets" ],
        "summary" : "Gets budget by primary key",
        "operationId" : "getsBudgetByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Budget"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Budgets" ],
        "summary" : "Deletes budget by primary key",
        "operationId" : "deleteBudget",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "IsCash",
        "in" : "path",
        "required" : true,
        "type" : "boolean"
      }, {
        "name" : "AcctKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "PeriodKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Budget/{Budget}" : {
      "post" : {
        "tags" : [ "Budgets" ],
        "summary" : "Adds a new budget",
        "operationId" : "addBudget",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Budget"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Budget"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Budgets" ],
        "summary" : "Updates a budget",
        "operationId" : "updateBudget",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Budget"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Budget"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Budget",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AR/Client/" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Gets all clients",
        "operationId" : "getsAllClients",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Client"
              }
            }
          }
        }
      }
    },
    "/AR/Client/{AddressKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get clients by addresskey",
        "operationId" : "getsClientsByAddressKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AddressKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/{BillTermKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get clients by billtermkey",
        "operationId" : "getsClientsByBillTermKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "BillTermKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/{Client}" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Adds a new client",
        "operationId" : "addClient",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Client"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Clients" ],
        "summary" : "Updates a client",
        "operationId" : "updateClient",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Client"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Client",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AR/Client/{ClientClsKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get clients by clientclskey",
        "operationId" : "getsClientsByClientClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ClientClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/{ClientKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Gets client by primary key",
        "operationId" : "getsClientByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Clients" ],
        "summary" : "Deletes client by primary key",
        "operationId" : "deleteClient",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ClientKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/{CompanyKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get clients by companykey",
        "operationId" : "getsClientsByCompanyKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CompanyKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/{MarketClsKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get clients by marketclskey",
        "operationId" : "getsClientsByMarketClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "MarketClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/{StatusClsKey}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get clients by statusclskey",
        "operationId" : "getsClientsByStatusClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Client"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "StatusClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AR/Client/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Finds clients by id or name",
        "operationId" : "getsAllClients",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Client"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SS/Office/" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Gets all offices",
        "operationId" : "getsAllOffices",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Office"
              }
            }
          }
        }
      }
    },
    "/SS/Office/{AddressKey}" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Get offices by addresskey",
        "operationId" : "getsOfficesByAddressKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Office"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AddressKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SS/Office/{Office}" : {
      "post" : {
        "tags" : [ "Offices" ],
        "summary" : "Adds a new office",
        "operationId" : "addOffice",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Office"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Office"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Offices" ],
        "summary" : "Updates a office",
        "operationId" : "updateOffice",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Office"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Office"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Office",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SS/Office/{OfficeKey}" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Gets office by primary key",
        "operationId" : "getsOfficeByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Office"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Offices" ],
        "summary" : "Deletes office by primary key",
        "operationId" : "deleteOffice",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "OfficeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SS/Office/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Finds offices by id or name",
        "operationId" : "getsAllOffices",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Office"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/GA/Period/" : {
      "get" : {
        "tags" : [ "Periods" ],
        "summary" : "Gets all periods",
        "operationId" : "getsAllPeriods",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Period"
              }
            }
          }
        }
      }
    },
    "/GA/Period/{Period}" : {
      "post" : {
        "tags" : [ "Periods" ],
        "summary" : "Adds a new period",
        "operationId" : "addPeriod",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Period"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Period"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Periods" ],
        "summary" : "Updates a period",
        "operationId" : "updatePeriod",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Period"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Period"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Period",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/GA/Period/{PeriodKey}" : {
      "get" : {
        "tags" : [ "Periods" ],
        "summary" : "Gets period by primary key",
        "operationId" : "getsPeriodByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Period"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Periods" ],
        "summary" : "Deletes period by primary key",
        "operationId" : "deletePeriod",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "PeriodKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Period/{PeriodStatusClsKey}" : {
      "get" : {
        "tags" : [ "Periods" ],
        "summary" : "Get periods by periodstatusclskey",
        "operationId" : "getsPeriodsByPeriodStatusClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Period"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "PeriodStatusClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Period/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Periods" ],
        "summary" : "Finds periods by id or name",
        "operationId" : "getsAllPeriods",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Period"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AP/Vendor/" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Gets all vendors",
        "operationId" : "getsAllVendors",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vendor"
              }
            }
          }
        }
      }
    },
    "/AP/Vendor/{AddressKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Get vendors by addresskey",
        "operationId" : "getsVendorsByAddressKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AddressKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/{CompanyKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Get vendors by companykey",
        "operationId" : "getsVendorsByCompanyKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CompanyKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/{PrimaryContactKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Get vendors by primarycontactkey",
        "operationId" : "getsVendorsByPrimaryContactKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "PrimaryContactKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/{SecondaryContactKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Get vendors by secondarycontactkey",
        "operationId" : "getsVendorsBySecondaryContactKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "SecondaryContactKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/{SpecialtyClsKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Get vendors by specialtyclskey",
        "operationId" : "getsVendorsBySpecialtyClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "SpecialtyClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/{StatusClsKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Get vendors by statusclskey",
        "operationId" : "getsVendorsByStatusClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "StatusClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/{Vendor}" : {
      "post" : {
        "tags" : [ "Vendors" ],
        "summary" : "Adds a new vendor",
        "operationId" : "addVendor",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Vendor"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Vendors" ],
        "summary" : "Updates a vendor",
        "operationId" : "updateVendor",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Vendor"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Vendor",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/AP/Vendor/{VendorKey}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Gets vendor by primary key",
        "operationId" : "getsVendorByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Vendor"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Vendors" ],
        "summary" : "Deletes vendor by primary key",
        "operationId" : "deleteVendor",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "VendorKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/AP/Vendor/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Vendors" ],
        "summary" : "Finds vendors by id or name",
        "operationId" : "getsAllVendors",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vendor"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/GA/Account/" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Gets all accounts",
        "operationId" : "getsAllAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Account"
              }
            }
          }
        }
      }
    },
    "/GA/Account/{Account}" : {
      "post" : {
        "tags" : [ "Accounts" ],
        "summary" : "Adds a new account",
        "operationId" : "addAccount",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Account"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounts" ],
        "summary" : "Updates a account",
        "operationId" : "updateAccount",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Account"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Account",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/GA/Account/{AcctInfoKey}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get accounts by acctinfokey",
        "operationId" : "getsAccountsByAcctInfoKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AcctInfoKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Account/{AcctKey}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Gets account by primary key",
        "operationId" : "getsAccountByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Accounts" ],
        "summary" : "Deletes account by primary key",
        "operationId" : "deleteAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AcctKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Account/{CenterKey}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get accounts by centerkey",
        "operationId" : "getsAccountsByCenterKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CenterKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Account/{CheckDesignKey}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get accounts by checkdesignkey",
        "operationId" : "getsAccountsByCheckDesignKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CheckDesignKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Account/{StatusClsKey}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get accounts by statusclskey",
        "operationId" : "getsAccountsByStatusClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "StatusClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/GA/Account/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Finds accounts by id or name",
        "operationId" : "getsAllAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Account"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Accrual/" : {
      "get" : {
        "tags" : [ "Accruals" ],
        "summary" : "Gets all accruals",
        "operationId" : "getsAllAccruals",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Accrual"
              }
            }
          }
        }
      }
    },
    "/HR/Accrual/{Accrual}" : {
      "post" : {
        "tags" : [ "Accruals" ],
        "summary" : "Adds a new accrual",
        "operationId" : "addAccrual",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Accrual"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Accrual"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accruals" ],
        "summary" : "Updates a accrual",
        "operationId" : "updateAccrual",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Accrual"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Accrual"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Accrual",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Accrual/{AccrualKey}" : {
      "get" : {
        "tags" : [ "Accruals" ],
        "summary" : "Gets accrual by primary key",
        "operationId" : "getsAccrualByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Accrual"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Accruals" ],
        "summary" : "Deletes accrual by primary key",
        "operationId" : "deleteAccrual",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AccrualKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Accrual/{ProjectInfoKey}" : {
      "get" : {
        "tags" : [ "Accruals" ],
        "summary" : "Get accruals by projectinfokey",
        "operationId" : "getsAccrualsByProjectInfoKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Accrual"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ProjectInfoKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Accrual/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Accruals" ],
        "summary" : "Finds accruals by id or name",
        "operationId" : "getsAllAccruals",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Accrual"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/PA/AddFee/" : {
      "get" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Gets all add fees",
        "operationId" : "getsAllAdd Fees",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AddFee"
              }
            }
          }
        }
      }
    },
    "/PA/AddFee/{AddFee}" : {
      "post" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Adds a new add fee",
        "operationId" : "addAddFee",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddFee"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AddFee"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Updates a add fee",
        "operationId" : "updateAddFee",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddFee"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AddFee"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AddFee",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/PA/AddFee/{AddFeeClsKey}" : {
      "get" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Get add fees by addfeeclskey",
        "operationId" : "getsAddFeesByAddFeeClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AddFee"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AddFeeClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/PA/AddFee/{AddFeeKey}" : {
      "get" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Gets add fee by primary key",
        "operationId" : "getsAdd FeeByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AddFee"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Deletes add fee by primary key",
        "operationId" : "deleteAddFee",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "AddFeeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/PA/AddFee/{RevAcctInfoKey}" : {
      "get" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Get add fees by revacctinfokey",
        "operationId" : "getsAddFeesByRevAcctInfoKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AddFee"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "RevAcctInfoKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/PA/AddFee/{TaxAcctInfoKey}" : {
      "get" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Get add fees by taxacctinfokey",
        "operationId" : "getsAddFeesByTaxAcctInfoKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AddFee"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "TaxAcctInfoKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/PA/AddFee/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Add Fees" ],
        "summary" : "Finds add fees by id or name",
        "operationId" : "getsAllAdd Fees",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AddFee"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SS/Billing/" : {
      "get" : {
        "tags" : [ "Billings" ],
        "summary" : "Gets all billings",
        "operationId" : "getsAllBillings",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Billing"
              }
            }
          }
        }
      }
    },
    "/SS/Billing/{Billing}" : {
      "post" : {
        "tags" : [ "Billings" ],
        "summary" : "Adds a new billing",
        "operationId" : "addBilling",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Billing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Billing"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Billings" ],
        "summary" : "Updates a billing",
        "operationId" : "updateBilling",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Billing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Billing"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Billing",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/SS/Billing/{CenterInfoKey}" : {
      "get" : {
        "tags" : [ "Billings" ],
        "summary" : "Gets billing by primary key",
        "operationId" : "getsBillingByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Billing"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Billings" ],
        "summary" : "Deletes billing by primary key",
        "operationId" : "deleteBilling",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CenterInfoKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/SS/Billing/{InvNumberClsKey}" : {
      "get" : {
        "tags" : [ "Billings" ],
        "summary" : "Get billings by invnumberclskey",
        "operationId" : "getsBillingsByInvNumberClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Billing"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "InvNumberClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Gets all contacts",
        "operationId" : "getsAllContacts",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Contact"
              }
            }
          }
        }
      }
    },
    "/CM/Contact/{CompanyKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by companykey",
        "operationId" : "getsContactsByCompanyKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "CompanyKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{Contact}" : {
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Adds a new contact",
        "operationId" : "addContact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Contact"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "Updates a contact",
        "operationId" : "updateContact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Contact"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Contact",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/CM/Contact/{ContactKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Gets contact by primary key",
        "operationId" : "getsContactByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "Deletes contact by primary key",
        "operationId" : "deleteContact",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ContactKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{EmployeeKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by employeekey",
        "operationId" : "getsContactsByEmployeeKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "EmployeeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{EthnicClsKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by ethnicclskey",
        "operationId" : "getsContactsByEthnicClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "EthnicClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{GenderClsKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by genderclskey",
        "operationId" : "getsContactsByGenderClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "GenderClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{OfficeKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by officekey",
        "operationId" : "getsContactsByOfficeKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "OfficeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{SportActivityClsKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by sportactivityclskey",
        "operationId" : "getsContactsBySportActivityClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "SportActivityClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/{SportEventClsKey}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get contacts by sporteventclskey",
        "operationId" : "getsContactsBySportEventClsKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Contact"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "SportEventClsKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/CM/Contact/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Finds contacts by id or name",
        "operationId" : "getsAllContacts",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Contact"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Expense/" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Gets all expenses",
        "operationId" : "getsAllExpenses",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Expense"
              }
            }
          }
        }
      }
    },
    "/HR/Expense/{EmployeeKey}" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Get expenses by employeekey",
        "operationId" : "getsExpensesByEmployeeKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Expense"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "EmployeeKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Expense/{ESAcctKey}" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Get expenses by esacctkey",
        "operationId" : "getsExpensesByESAcctKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Expense"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ESAcctKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Expense/{Expense}" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Gets expense by revision",
        "operationId" : "getsExpenseByRev",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Expense"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Expenses" ],
        "summary" : "Adds a new expense",
        "operationId" : "addExpense",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Expense"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Expense"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Expenses" ],
        "summary" : "Updates a expense",
        "operationId" : "updateExpense",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Expense"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Expense"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Expense",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Expense/{ExpKey}" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Gets expense by primary key",
        "operationId" : "getsExpenseByPrimaryKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/Expense"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Expenses" ],
        "summary" : "Deletes expense by primary key",
        "operationId" : "deleteExpense",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ExpKey",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/HR/Expense/Find/{idOrName}" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Finds expenses by id or name",
        "operationId" : "getsAllExpenses",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Expense"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "idOrName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Expense/Void/{ExpenseVoid}" : {
      "put" : {
        "tags" : [ "Expenses" ],
        "summary" : "Void a expense",
        "operationId" : "voidExpense",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/JournalVoid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ExpenseVoid",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/HR/Holiday/" : {
      "get" : {
        "tags" : [ "Holidays" ],
        "summary" : "Gets all holidays",
        "operationId" : "getsAllHolidays",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Holiday"
[...]
